/* COLORS */
$white: #fffffe;
$black: #0f0e17;
$accent: #256ec5;

/* GLOBAL VARIABLES */
* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
    font-family: "Roboto", Helvetica, sans-serif;
    overflow: visible;
}

h1,
h2,
h3 {
    font-family: "Cardo", Garamond, serif;
}
i {
    padding: 0 5px;
    vertical-align: baseline;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #668fc2;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $accent;
  }

/* BUTTONS AND LINKS */
a,
a:visited {
    color: $black;
    text-decoration: none;
}
a:hover,
a:focus {
    font-weight: bold;
    color: $accent;
}

/* NAVIGATION */
.navbar {
    height: 80px;
    display: flex;
    position: fixed;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 0;
    transition: ease 0.4s;
    &--scrolled {
      height: 40px;
    }
}
.navbar-brand {
    text-transform: uppercase;
}
li.nav-item {
    list-style: none;
}

a.nav-link {
    justify-content: end;
}

/* INTRO */
.hs {
    //height: 100vh;
overflow: hidden;
    section {
        
        height: 100vh;
        padding: 10em;
        &:nth-child(odd) {
            background: $white;
        }
        &:nth-child(even) {
            background: $accent;
            color: $white;
        }
        
    }
}

/* RESOURCES 

#resources {

}
 */


/* FOOTER */
footer {
    bottom: 0;
    width: 100vw;
    ul {
        list-style: none;
    }
}
